In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Busselton,-33.6500,115.3333,83.05,51,7,9.17,AU,2022-01-18 16:44:46
1,1,Tilichiki,60.4667,166.1000,-18.98,88,5,9.13,RU,2022-01-18 16:44:46
2,2,Hilo,19.7297,-155.0900,69.53,82,100,5.75,US,2022-01-18 16:44:46
3,3,Bambous Virieux,-20.3428,57.7575,82.22,89,75,4.61,MU,2022-01-18 16:43:35
4,4,Shingu,33.7333,135.9833,39.90,79,4,6.42,JP,2022-01-18 16:44:47

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
city_data_df['Max Temp'] = city_data_df['Max Temp'].map(lambda x: x if (x >= 0) else 0)

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

In [9]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent Windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 69
What is the maximum temperature you would like for your trip? 80

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Hilo,19.7297,-155.0900,69.53,82,100,5.75,US,2022-01-18 16:44:46
13,13,Chuy,-33.6971,-53.4616,75.60,79,100,14.38,UY,2022-01-18 16:44:49
15,15,Rikitea,-23.1203,-134.9692,77.41,78,100,15.43,PF,2022-01-18 16:44:49
16,16,Atuona,-9.8000,-139.0333,78.51,75,73,21.50,PF,2022-01-18 16:44:49
17,17,Praya,14.9215,-23.5087,77.54,65,75,19.57,CV,2022-01-18 16:44:50
24,24,Sao Filipe,14.8961,-24.4956,74.53,74,69,11.54,CV,2022-01-18 16:44:51
27,27,Fare,-16.7000,-151.0167,76.06,89,100,18.19,PF,2022-01-18 16:44:51
33,33,Bengkulu,-3.8004,102.2655,75.07,91,100,5.10,ID,2022-01-18 16:43:54
35,35,Port Alfred,-33.5906,26.8910,73.15,85,45,24.81,ZA,2022-01-18 16:44:53
38,38,Manado,1.4870,124.8455,75.97,94,40,2.30,ID,2022-01-18 16:44:54

In [15]:
preferred_cities_df.count()

City_ID       133
City          133
Lat           133
Lng           133
Max Temp      133
Humidity      133
Cloudiness    133
Wind Speed    133
Country       131
Date          133
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
2          Hilo      US     69.53  19.7297 -155.0900
13         Chuy      UY     75.60 -33.6971  -53.4616
15      Rikitea      PF     77.41 -23.1203 -134.9692
16       Atuona      PF     78.51  -9.8000 -139.0333
17        Praya      CV     77.54  14.9215  -23.5087
24   Sao Filipe      CV     74.53  14.8961  -24.4956
27         Fare      PF     76.06 -16.7000 -151.0167
33     Bengkulu      ID     75.07  -3.8004  102.2655
35  Port Alfred      ZA     73.15 -33.5906   26.8910
38       Manado      ID     75.97   1.4870  124.8455

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
import json
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # print(json.dumps(hotels, indent = 2))
    # Grab the first hotel from the results and store the name.
    #print(json.dumps(hotels["results"],indent=2))
    #print(json.dumps(hotels["results"][0],indent=2))
    #print(json.dumps(hotels["results"][0]["name"],indent=2))
    try:
        print(index)
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.dropna()
hotel_df

2
13
15
16
17
24
27
33
35
38
40
43
45
50
54
61
64
67
69
70
77
86
90
92
95
97
105
117
118
Hotel not found... skipping.
134
138
139
140
144
146
151
154
165
171
179
181
183
199
201
203
Hotel not found... skipping.
207
208
214
Hotel not found... skipping.
215
218
221
231
233
235
240
241
Hotel not found... skipping.
242
248
259
264
267
268
269
270
276
277
Hotel not found... skipping.
284
292
294
296
298
Hotel not found... skipping.
303
310
314
320
326
327
336
342
350
351
358
359
369
Hotel not found... skipping.
373
375
376
379
382
383
388
394
395
396
406
408
412
414
417
420
429
Hotel not found... skipping.
430
Hotel not found... skipping.
431
435
438
442
444
449
451
455
460
463
469
478
481
482
487
494
497
500
504
507
512
513
515
522
524
525
535
539
540
550
553

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Hilo,US,69.53,19.7297,-155.0900,Hilo Hawaiian Hotel
13,Chuy,UY,75.60,-33.6971,-53.4616,Nuevo Hotel Plaza
15,Rikitea,PF,77.41,-23.1203,-134.9692,People ThankYou
16,Atuona,PF,78.51,-9.8000,-139.0333,Villa Enata
17,Praya,CV,77.54,14.9215,-23.5087,LT Aparthotel
...,...,...,...,...,...,...
535,Robstown,US,73.42,27.7903,-97.6689,Days Inn by Wyndham Robstown
539,Bintulu,MY,75.61,3.1667,113.0333,900 Boutique INN
540,Lodwar,KE,77.00,3.1191,35.5973,Solmar Gracious Hotel
550,Chicama,PE,72.14,-7.8447,-79.1469,Balihai Bungalows
553,Praia,CV,77.54,14.9215,-23.5087,LT Aparthotel

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [21]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))